<div class="container-fluid mt-3">
  <div class="row">
    <!-- Main content -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin" class="text-light">Admin</a>
        </li>
        <li class="breadcrumb-item active text-info" aria-current="page">
          Offer Management
        </li>
      </ol>
    </nav>
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="text-light">Manage Offers</h3>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#addOfferModal"
          >
            Add New Offer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
