<footer class="py-5 px-5">
  <div class="row text-light">
    <div class="col-6 col-md-2 mb-3 me-3">
      <img src="/images/svg/PeakpixWhite.svg" class="img-fluid" alt="" />
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Support</h5>
      <p class="text-white-50">
        123 Innovation Avenue,Suite 456,TechCity, CA 90210,USA.
      </p>
      <p class="text-white-50">peakpix@gmail.com</p>
      <p class="text-white-50">+88015-88888-9999</p>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Account</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">My Account</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Login/Register</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Cart</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Wishlist</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Shop</a>
        </li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Quick Link</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Shop</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">About</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-white-50">Contact</a>
        </li>
      </ul>
    </div>

    
  </div>

  <div
    class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
  >
    <p class="text-white-50">© 2024 Company, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3">
        <a class="link-body-emphasis" href="#"
          ><img src="/images/svg/twitter.svg" alt=""></a>
      </li>
      <li class="ms-3">
        <a class="link-body-emphasis " href="#"
          ><img src="/images/svg/instagram.svg" alt=""></a>
      </li>
      <li class="ms-3">
        <a class="link-body-emphasis" href="#"
          ><img src="/images/svg/facebook.svg" alt=""></a>
      </li>
    </ul>
  </div>
</footer>
