<nav class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
  <div class="container-fluid mx-md-5 my-2">
    <div class="logo col-md-3 mb-2 mb-md-0">
      <a href="/">
        <h1 class="logo-text">Peakpix</h1>
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav gap-4 mx-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link <% if (activePage === 'home') { %> active <% } %>"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <% if (activePage === 'shop') { %> active <% } %>"
            href="/shop"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <% if (activePage === 'about') { %> active <% } %>"
            href="#"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <% if (activePage === 'contact') { %> active <% } %>"
            href="#"
            >Contact</a
          >
        </li>
      </ul>
      
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <div class="d-flex gap-4">
          <a href="/shop/wishlist">
            <img src="/images/svg/love.svg" alt="Favorites" class="icon" />
          </a>
          <a href="/shop/cart">
            <img src="/images/svg/cart.svg" alt="Cart" class="icon" />
          </a>
          <a href="/account">
            <img src="/images/svg/user.svg" alt="User" class="icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    background-color: #f8f9fa; /* Light background color for the navbar */
  }

  .navbar-nav .nav-link {
    color: #333; /* Dark color for the nav links */
  }

  .navbar-nav .nav-link.active {
    color: #5a2b81; /* Dark purple color for the active link */
    font-weight: bold;
  }

  .btn-dark {
    background-color: #5a2b81; /* Dark purple background for button */
    border-color: #5a2b81; /* Dark purple border for button */
  }

  .btn-dark:hover {
    background-color: #7a479b; /* Slightly lighter dark purple for hover */
    border-color: #7a479b; /* Border color match hover background */
  }

  .btn-outline-dark {
    border-color: #5a2b81; /* Dark purple border for outline button */
    color: #5a2b81; /* Dark purple text color for outline button */
  }

  .btn-outline-dark:hover {
    background-color: #7a479b; /* Dark purple background on hover */
    color: #fff; /* White text color on hover */
  }

  .icon {
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
  }

  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow at the bottom of the navbar */
  }
  .logo-text {
    font-size: 2rem; 
    font-weight: bold;
    color: #5a2b81;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
</style>
