body {
  background: linear-gradient(to right, #f3f9fe, #faf3fe);
}
.breadcrumb-item a {
  color: #007bff;
}
.breadcrumb-item.active {
  color: #6c757d;
}
.address-card {
  border: 1px solid #e0e0e0;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.address-card:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.address-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
}
/* Add New Address Button Styling */
.add-address-card {
  border: 2px dashed #007bff;
  border-radius: 8px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.add-address-card:hover {
  background-color: #e9ecef;
  border-color: #0056b3;
}
.address-card.default {
  box-shadow: 0 0 10px rgba(200, 150, 255, 0.6); /* Light purple glow */
  border: 1px solid rgba(200, 150, 255, 0.3); /* Optional: Add a light purple border */
  transition: all 0.3s;
}


.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #9166e0;
  cursor: pointer;
  transition: color 0.3s ease;
}
.edit-icon:hover {
  color: #039841;
  transition: color 0.3s ease;
}
.delete-icon:hover {
  color: #b00541;
  transition: color 0.3s ease;
}
/* Modal Styling */
.modal-content {
  border-radius: 8px;
}
.modal-header {
  border-bottom: 1px solid #e0e0e0;
}
.modal-body {
  padding: 2rem;
}
.modal-footer {
  border-top: 1px solid #e0e0e0;
}

/* Custom Radio Buttons */
.custom-radio {
  width: 24px;
  height: 24px;
  accent-color: #007bff; /* Blue color for the radio button */
}
.custom-radio:checked {
  background-color: #007bff;
  border-color: #007bff;
}
.form-check-label {
  margin-left: 8px;
  font-size: 16px; /* Adjust font size as needed */
}
.d-flex {
  align-items: center;
}


