body {
  background-color: #1b1e21; /* Dark background for body */
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}
.table thead th {
  background-color: #2c2c2c; /* Slightly lighter background for table headers */
  color: #bcbcbc; /* Light text color for better contrast */
}
.table tbody td {
  color: #d2d2d2; /* Light text color for table body */
}
.table {
  --bs-table-color: #d2d2d2; /* Light text color */
  --bs-table-bg: #2e3337; /* Dark background for table */
  --bs-table-border-color: #495057; /* Darker border color */
}
.btn-outline-light {
  color: #ffffff !important;
  border-color: #6f42c1 !important; /* Dark purple border */
}
.btn-outline-light:hover {
  color: #6f42c1 !important;
  background-color: rgb(236, 236, 236) !important; /* Light background on hover */
  border-color: #6f42c1 !important;
}

.btn-dark {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  color: #ffffff !important;
}
.btn-dark:hover {
  background-color: #212529 !important;
  border-color: #212529 !important;
}

.btn-primary {
  background-color: #6f42c1 !important; /* Dark purple for primary buttons */
  border-color: #6f42c1 !important;
}
.btn-primary:hover {
  background-color: #563d7c !important;
  border-color: #563d7c !important;
}
.form-control.custom-search-input {
  background-color: #2c2c2c; /* Dark background for input field */
  color: #e9ecef; /* Light text color for input field */
  border: 1px solid #495057; /* Darker border color */
  border-radius: 20; /* Remove border-radius for a modern look */
}

.form-control.custom-search-input::placeholder {
  color: #6c757d; /* Placeholder color */
}

.form-control.custom-search-input:focus {
  border-color: #dbdbdb; /* Light border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); /* Light glow on focus */
}
.form-select {
  background-color: #5d666e;
  color: #ffffff; 
  border: 1px solid #495057;
}
.form-select option {
  background-color: #343a40; 
  color: #ffffff;
}

.form-select option:checked {
  background-color: #495057;
}