<div class="container my-5 py-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="text-center my-4"><%= title %></h2>
            <form action="/verify-otp" method="POST">
              <div class="form-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="otp"
                  name="otp"
                  placeholder="Enter your OTP"
                  required
                />
                <% if (error) { %>
                <div class="alert alert-danger mt-2"><%= error %></div>
                <% } %>
              </div>
              <div class="d-grid mt-4 mb-3">
                <button type="submit" class="btn btn-primary btn-block">
                  Verify
                </button>
              </div>
              <!-- Message for OTP Resend -->
              <div id="otp-message" class="text-center mb-3">
                <span id="resend-msg"
                  >Didn't get an OTP? Wait <span id="countdown">15</span> seconds
                  to resend.</span
                >
              </div>
  
              <!-- Resend OTP Button -->
              <div class="text-center mb-3">
                <a
                  href="#"
                  id="resend-btn"
                  class="btn-resend"
                  onClick="resendOtp()"
                  style="display: none"
                  >Resend OTP</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    .btn-resend {
      color: #6f42c1; /* Dark purple */
      text-decoration: underline;
      cursor: pointer;
    }
  
    #otp-message {
      font-size: 0.9rem;
      color: #6c757d; /* Muted color */
    }
  
    #countdown {
      font-weight: bold;
      color: #e8626f; /* Red for countdown */
    }
  
    .btn-resend:disabled {
      cursor: not-allowed;
      color: #a1a1a1; /* Muted color for disabled state */
    }
  </style>
  
  <script src="/js/otp-resend.js"></script>
  